
.stagaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    color: white;
}

.header {
    margin: 0px;
    background-color: grey;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}