
.stagaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    color: white;
}
.header {
    margin: 0px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.home {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.Liste {
    display: flex;
    justify-content: space-around;
}
body {
    margin: 0px;
}
img {
    width: 180px;
    height: 300px;
}